@font-face {
    font-family: 'NotoSansRegular';
    src: url('../css/fonts/NotoSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NotoSansBold';
    src: url('../css/fonts/NotoSans-Bold.ttf') format('truetype');
}

body {
    font-family: 'NotoSansRegular', sens-serif;
}

html,
body,
.environment {
    display: block;
    position: relative;
    box-sizing: border-box;
    float: left;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.environment.default{
    display: block !important;
}

.environment.sources{
     display: none !important;
}

.view{
    display: block;
    position: absolute;
    box-sizing: border-box;
    float: left;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;

}
.view.default{
    display: block !important;
    z-index: 1;
}
.view.windows{
    display: none !important;
    z-index: 3;
    background-color: rgba(0,0,0,0.8);
}
.view.windows.active{
    display: block !important;
}
.view.welcome{
    display: none !important;
    z-index: 2;
}

.inner{
    display: block;
    position: absolute;
    box-sizing: border-box;
    float: left;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: auto;
}

.section.map > .inner{
    height: 100%;
}

.card-container {
    display: none;
    position: absolute;
    top: 90px;
    left: 30px;
    z-index: 10;
    width: 500px;
    height: 500px;
    overflow-y: auto;
    background: white;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    line-height: 1.4em;
}

/* Стили для карточек */

.card__logo {
    margin: 0 auto;
    margin-top: 10px;
    display: block;
    margin-bottom: 20px;
    height: 85px;
    width: auto;
}

.card-active {
    display: block;
}

.card a {
    text-decoration: none;
    color: #1cfc03;
    font-size: 20px;
}

.card a:hover {
    text-decoration: underline;
}

.card__route {
    font-size: 20px;
}

.card__site {
    margin-top: 24px;
}

.exitImg {
    opacity: 0.45;
    position: absolute;
    right: 10px;
    width: 25px;
}

.exitImg:hover {
    opacity: 1;
    cursor: pointer;
}

.view.windows .window{
    display: none;
    position: absolute;
    box-sizing: border-box;
    float: left;
    margin: 0px;
    padding: 0px;
    width: auto;
    height: 100%;
}

.view.windows .window.active{
    display: block !important;
}

.view.windows .window.city{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 300px;
    height: 100%;
    background-color: rgb(255,255,255);
    box-shadow: 0px 0px 20px rgba(0,0,0,0.75);
}

.view.windows .window.school{
    position: absolute;
    top: 0px;
    right: -300px;
    width: 300px;
    height: 100%;
    background-color: rgb(255,255,255);
    box-shadow: 0px 0px 20px rgba(0,0,0,0.75);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}

.view.windows .window.school.active{
    right: 0px;
}

.view.windows .window.point{
    position: absolute;
    top: 0px;
    right: -300px;
    width: 300px;
    height: 100%;
    background-color: rgb(255,255,255);
    box-shadow: 0px 0px 20px rgba(0,0,0,0.75);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
}

/* Слайдер */
.slider {
    position: relative;
}

.slider-images img {
    margin: 0 auto;
    display: none;
    height: 330px;
    width: 100%;
}

.slider-images img.show-img {
    display: block;
}

.left-button, .right-button {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.75);
    top: 150px;
    cursor: pointer;
}

.left-button, .right-button {
    padding: 5px;
}

.left-button {
    left: 0px;
}

.right-button {
    right: 0px;
}

.left-button:hover, .right-button:hover {
    background-color: rgba(200, 200, 200, 0.8);
}
.metro{
    background: url("../img/metro-logo.png") no-repeat;
    padding-left: 60px;
    height: 50px;
    line-height: 50px;

}

.tabs {
    margin-bottom: 20px;
    border-bottom: 1px solid #bbb;
}

.tabs p {
    display: inline-block;
    border: 1px solid transparent;
    padding: 5px 10px;
    margin-right: 10px;
    margin-bottom: -1px;
}

.tabs p:not(.tab-active):hover {
    cursor: pointer;
    border: 1px solid #d9d9d9;
    border-radius: 3px 3px 0px 0px;
    border-bottom: 1px solid transparent;
    color: #495057;
}

.tabs .tab-active {
    border: 1px solid #bbb;
    border-bottom: 1px solid white;
    border-radius: 3px 3px 0px 0px;
    color: #495057;
}

.hidden{
    display: none;
}

.loading-failed-message {
    position: absolute;
    width: 400px;
    max-height: 200px;
    z-index: 20;
    padding: 20px;
    border: 3px solid rgb(200,150,150);
    border-radius: 15px;
    background-color: #fff;
    font-size: 26px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    text-align: center;
}